<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Book002-small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {36, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 39}</string>
			<key>spriteSourceSize</key>
			<string>{40, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{913, 335}, {36, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Book002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {72, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 77}</string>
			<key>spriteSourceSize</key>
			<string>{80, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{913, 208}, {72, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coins001-small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 46}</string>
			<key>spriteSourceSize</key>
			<string>{50, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{913, 287}, {50, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Coins001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 92}</string>
			<key>spriteSourceSize</key>
			<string>{100, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{913, 2}, {100, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Results-Screen_Scroll.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {772, 578}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{772, 578}</string>
			<key>spriteSourceSize</key>
			<string>{776, 590}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {772, 578}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Trophy001-small.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{45, 55}</string>
			<key>spriteSourceSize</key>
			<string>{45, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{965, 287}, {45, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Trophy001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 110}</string>
			<key>spriteSourceSize</key>
			<string>{90, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{913, 96}, {90, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>get_results.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {135, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{135, 113}</string>
			<key>spriteSourceSize</key>
			<string>{135, 115}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{776, 2}, {135, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>main_menu_btn.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 98}</string>
			<key>spriteSourceSize</key>
			<string>{120, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{898, 376}, {120, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>next_level.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 112}</string>
			<key>spriteSourceSize</key>
			<string>{135, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{776, 231}, {135, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>next_level_disabled.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {135, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{135, 112}</string>
			<key>spriteSourceSize</key>
			<string>{135, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{776, 117}, {135, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rematch.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 99}</string>
			<key>spriteSourceSize</key>
			<string>{120, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{776, 345}, {120, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>