<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level1</key>
	<dict>
		<key>AITileFlipRate</key>
		<string>0.4</string>
		<key>AIMaxWaitTime</key>
		<string>5</string>
		<key>AIDictionaryFilename</key>
		<string>ai-dictionary-1-8-grades</string>
		<key>levelLocked</key>
		<integer>0</integer>
		<key>beatAIAward</key>
		<integer>0</integer>
		<key>totalPointsAward</key>
		<integer>0</integer>
		<key>longWordAward</key>
		<integer>0</integer>
		<key>totalPointsForStar</key>
		<integer>500</integer>
		<key>batchSize</key>
		<integer>100</integer>
		<key>wordLengthForStar</key>
		<integer>6</integer>
	</dict>
	<key>Level2</key>
	<dict>
		<key>AITileFlipRate</key>
		<string>0.2</string>
		<key>AIMaxWaitTime</key>
		<string>5</string>
		<key>AIDictionaryFilename</key>
		<string>GRE_plus_1-8</string>
		<key>levelLocked</key>
		<integer>1</integer>
		<key>beatAIAward</key>
		<integer>0</integer>
		<key>totalPointsAward</key>
		<integer>0</integer>
		<key>longWordAward</key>
		<integer>0</integer>
		<key>totalPointsForStar</key>
		<integer>500</integer>
		<key>batchSize</key>
		<integer>200</integer>
		<key>wordLengthForStar</key>
		<integer>6</integer>
	</dict>
	<key>Level3</key>
	<dict>
		<key>AITileFlipRate</key>
		<string>0.2</string>
		<key>AIMaxWaitTime</key>
		<string>5</string>
		<key>AIDictionaryFilename</key>
		<string>6of12_plus_3esl_plus_GRE_plus_1-8</string>
		<key>levelLocked</key>
		<integer>1</integer>
		<key>beatAIAward</key>
		<integer>0</integer>
		<key>totalPointsAward</key>
		<integer>0</integer>
		<key>longWordAward</key>
		<integer>0</integer>
		<key>totalPointsForStar</key>
		<integer>500</integer>
		<key>batchSize</key>
		<integer>300</integer>
		<key>wordLengthForStar</key>
		<integer>6</integer>
	</dict>
	<key>Level4</key>
	<dict>
		<key>AITileFlipRate</key>
		<string>0.2</string>
		<key>AIMaxWaitTime</key>
		<string>5</string>
		<key>AIDictionaryFilename</key>
		<string>156K</string>
		<key>levelLocked</key>
		<integer>1</integer>
		<key>beatAIAward</key>
		<integer>0</integer>
		<key>totalPointsAward</key>
		<integer>0</integer>
		<key>longWordAward</key>
		<integer>0</integer>
		<key>totalPointsForStar</key>
		<integer>500</integer>
		<key>batchSize</key>
		<integer>400</integer>
		<key>wordLengthForStar</key>
		<integer>6</integer>
	</dict>
	<key>Level5</key>
	<dict>
		<key>AITileFlipRate</key>
		<string>0.2</string>
		<key>AIMaxWaitTime</key>
		<string>5</string>
		<key>AIDictionaryFilename</key>
		<string>upToLen10</string>
		<key>levelLocked</key>
		<integer>1</integer>
		<key>beatAIAward</key>
		<integer>0</integer>
		<key>totalPointsAward</key>
		<integer>0</integer>
		<key>longWordAward</key>
		<integer>0</integer>
		<key>totalPointsForStar</key>
		<integer>500</integer>
		<key>batchSize</key>
		<integer>500</integer>
		<key>wordLengthForStar</key>
		<integer>6</integer>
	</dict>
</dict>
</plist>
