<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>checkmark_btn.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{22, 29}, {154, 133}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{154, 133}</string>
			<key>spriteSourceSize</key>
			<string>{200, 183}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 525}, {154, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_screen_flip.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {380, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{380, 253}</string>
			<key>spriteSourceSize</key>
			<string>{380, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 299}, {380, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_screen_select_letters.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {380, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{380, 253}</string>
			<key>spriteSourceSize</key>
			<string>{380, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 767}, {380, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_screen_star_letters.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {380, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{380, 253}</string>
			<key>spriteSourceSize</key>
			<string>{380, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 257}, {380, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_screen_submit_words.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {380, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{380, 253}</string>
			<key>spriteSourceSize</key>
			<string>{380, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 2}, {380, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_screen_tripletap_letters.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {380, 253}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{380, 253}</string>
			<key>spriteSourceSize</key>
			<string>{380, 253}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{556, 512}, {380, 253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hand.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{53, 2}, {170, 224}}</string>
			<key>spriteOffset</key>
			<string>{-12, 2}</string>
			<key>spriteSize</key>
			<string>{170, 224}</string>
			<key>spriteSourceSize</key>
			<string>{300, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{384, 299}, {170, 224}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hand2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{49, 26}, {196, 198}}</string>
			<key>spriteOffset</key>
			<string>{-3, -9}</string>
			<key>spriteSize</key>
			<string>{196, 198}</string>
			<key>spriteSourceSize</key>
			<string>{300, 232}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 554}, {196, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphone4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 43}, {574, 295}}</string>
			<key>spriteOffset</key>
			<string>{-4, 8}</string>
			<key>spriteSize</key>
			<string>{574, 295}</string>
			<key>spriteSourceSize</key>
			<string>{620, 397}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {574, 295}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>