<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>checkmark_btn.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{11, 15}, {78, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{78, 66}</string>
			<key>spriteSourceSize</key>
			<string>{100, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 411}, {78, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_screen_flip.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 127}</string>
			<key>spriteSourceSize</key>
			<string>{190, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 282}, {190, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_screen_select_letters.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 127}</string>
			<key>spriteSourceSize</key>
			<string>{190, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 2}, {190, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_screen_submit_words.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 127}</string>
			<key>spriteSourceSize</key>
			<string>{190, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 131}, {190, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>game_screen_tripletap_letters.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {190, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{190, 127}</string>
			<key>spriteSourceSize</key>
			<string>{190, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 153}, {190, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hand.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 2}, {84, 110}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{84, 110}</string>
			<key>spriteSourceSize</key>
			<string>{150, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 253}, {84, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hand2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{26, 13}, {96, 98}}</string>
			<key>spriteOffset</key>
			<string>{-1, -4}</string>
			<key>spriteSize</key>
			<string>{96, 98}</string>
			<key>spriteSourceSize</key>
			<string>{150, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 153}, {96, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iphone4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 21}, {288, 149}}</string>
			<key>spriteOffset</key>
			<string>{-2, 4}</string>
			<key>spriteSize</key>
			<string>{288, 149}</string>
			<key>spriteSourceSize</key>
			<string>{310, 199}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {288, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>