<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BlueSquare.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 323}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BrownShell.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{47, 41}, {168, 133}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{168, 133}</string>
			<key>spriteSourceSize</key>
			<string>{256, 213}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 168}, {168, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>GameStartButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {600, 164}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{600, 164}</string>
			<key>spriteSourceSize</key>
			<string>{600, 164}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 2}, {600, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>GreenSandDollar.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{112, 98}, {180, 153}}</string>
			<key>spriteOffset</key>
			<string>{2, -8}</string>
			<key>spriteSize</key>
			<string>{180, 153}</string>
			<key>spriteSourceSize</key>
			<string>{400, 333}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 168}, {180, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PassButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 153}</string>
			<key>spriteSourceSize</key>
			<string>{180, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 163}, {180, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedSquare.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 168}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedStarfish.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{38, 26}, {180, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{180, 165}</string>
			<key>spriteSourceSize</key>
			<string>{256, 213}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {180, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedStarfishSmall.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {22, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{22, 21}</string>
			<key>spriteSourceSize</key>
			<string>{32, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{968, 163}, {22, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SubmitButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {180, 153}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{180, 153}</string>
			<key>spriteSourceSize</key>
			<string>{180, 153}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 169}, {180, 153}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WhiteSandDollar.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{108, 93}, {184, 159}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{184, 159}</string>
			<key>spriteSourceSize</key>
			<string>{400, 333}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 2}, {184, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>small-checkmark.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{31, 50}, {112, 69}}</string>
			<key>spriteOffset</key>
			<string>{-13, 7}</string>
			<key>spriteSize</key>
			<string>{112, 69}</string>
			<key>spriteSourceSize</key>
			<string>{200, 183}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 324}, {112, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>transparentBoundingBox-hd.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 303}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>transparentBoundingBox.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 288}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>