<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BrownShell.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{47, 41}, {168, 133}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{168, 133}</string>
			<key>spriteSourceSize</key>
			<string>{256, 213}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{560, 79}, {168, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Facebook.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {96, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{96, 98}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{457, 153}, {96, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>GameHistory.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {424, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{424, 58}</string>
			<key>spriteSourceSize</key>
			<string>{424, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 323}, {424, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>GameHistorySelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {424, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{424, 58}</string>
			<key>spriteSourceSize</key>
			<string>{424, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 263}, {424, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedStarfish.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{38, 26}, {180, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{180, 165}</string>
			<key>spriteSourceSize</key>
			<string>{256, 213}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{819, 2}, {180, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Twitter.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {96, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 96}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{457, 253}, {96, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blueSandDollar.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{83, 73}, {136, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{136, 116}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{555, 214}, {136, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameTitle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {815, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{815, 75}</string>
			<key>spriteSourceSize</key>
			<string>{815, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {815, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>howToPlay5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {341, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{341, 53}</string>
			<key>spriteSourceSize</key>
			<string>{341, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{383, 447}, {341, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>howToPlaySelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {341, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{341, 53}</string>
			<key>spriteSourceSize</key>
			<string>{341, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 498}, {341, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playAndPassLable5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {379, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{379, 53}</string>
			<key>spriteSourceSize</key>
			<string>{379, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 392}, {379, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playAndPassSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {379, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{379, 53}</string>
			<key>spriteSourceSize</key>
			<string>{379, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 443}, {379, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playWithFriendsLabel5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {453, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{453, 53}</string>
			<key>spriteSourceSize</key>
			<string>{453, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 208}, {453, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playWithFriendsSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {453, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{453, 53}</string>
			<key>spriteSourceSize</key>
			<string>{453, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 153}, {453, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rankings5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {270, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{270, 53}</string>
			<key>spriteSourceSize</key>
			<string>{270, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{693, 224}, {270, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rankingsSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {270, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{270, 53}</string>
			<key>spriteSourceSize</key>
			<string>{270, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{730, 169}, {270, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>singlePlayerLabel.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {406, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{406, 58}</string>
			<key>spriteSourceSize</key>
			<string>{406, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{555, 332}, {406, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>singlePlayerLabelSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {406, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{406, 58}</string>
			<key>spriteSourceSize</key>
			<string>{406, 58}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 383}, {406, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>wordanista.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {556, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{556, 72}</string>
			<key>spriteSourceSize</key>
			<string>{556, 72}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 79}, {556, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>