<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BrownShell.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{47, 41}, {168, 133}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{168, 133}</string>
			<key>spriteSourceSize</key>
			<string>{256, 213}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 79}, {168, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedStarfish.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{38, 26}, {180, 165}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{180, 165}</string>
			<key>spriteSourceSize</key>
			<string>{256, 213}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{819, 2}, {180, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blueSandDollar.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{83, 73}, {136, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, -6}</string>
			<key>spriteSize</key>
			<string>{136, 116}</string>
			<key>spriteSourceSize</key>
			<string>{300, 250}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{627, 79}, {136, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>gameTitle.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {815, 75}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{815, 75}</string>
			<key>spriteSourceSize</key>
			<string>{815, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {815, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>howToPlay5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {341, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{341, 53}</string>
			<key>spriteSourceSize</key>
			<string>{341, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 244}, {341, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>howToPlaySelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {341, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{341, 53}</string>
			<key>spriteSourceSize</key>
			<string>{341, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{345, 252}, {341, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playAndPassLable5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {379, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{379, 53}</string>
			<key>spriteSourceSize</key>
			<string>{379, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{553, 197}, {379, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playAndPassSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {379, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{379, 53}</string>
			<key>spriteSourceSize</key>
			<string>{379, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 189}, {379, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playWithFriendsLabel5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {453, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{453, 53}</string>
			<key>spriteSourceSize</key>
			<string>{453, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 79}, {453, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>playWithFriendsSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {453, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{453, 53}</string>
			<key>spriteSourceSize</key>
			<string>{453, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 134}, {453, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rankSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {270, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{270, 53}</string>
			<key>spriteSourceSize</key>
			<string>{270, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 299}, {270, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rankings5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {270, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{270, 53}</string>
			<key>spriteSourceSize</key>
			<string>{270, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{688, 252}, {270, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
	</dict>
</dict>
</plist>